@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";

}



<div class="card" style="margin: 100px;padding: 50px;">
    <p class="text-success">سفارش شما ثبت گردید و در اسرع وقت به سفارش شما رسیدگی خواهد شد</p>
    <p class="text-success">  کد سفارش :  @ViewBag.id </p>
</div>
