@model System.Collections.Generic.List<sellmarket.Models.Image>

@{
    ViewBag.Title = "مدیریت تصاویر";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="container fromtop">

    <h3 style="text-align: center">مدیریت تصاویر محصول</h3>
    <h5 > نام محصول  :   @ViewBag.ProductTitle    </h5>
    <br/>
    @Html.ActionLink("آپلود عکس جدید", "CreateImagePage" , new {id=ViewBag.id})
    <div style="float: left;">
        @Html.ActionLink("بازگشت", "Index" )
    </div>
<hr/>

    @Html.Partial("ImagesPartial")

</div>