/* font-Shabnam */
@font-face {
    font-family: Shabnam;
    src: url('font/shabnam.eot');
    src: url('font/shabnam.eot?#iefix') format('embedded-opentype'),
    url('font/shabnam.woff') format('woff'),
    url('font/shabnam.ttf') format('truetype');
    font-weight: normal;
}
*{
    direction: rtl;
    text-align: right   ;
}


.fileup *{
    direction: ltr !important;
    text-align: left !important;
}
.fromtop{
    margin-top: 130px;
}

/* font-Shabnam */
@font-face {
    font-family: IranNastaliq;
    src:     url('font/IranNastaliq.ttf') format('truetype');
    font-weight: normal;
}
.sitetitle{
    font-family: IranNastaliq, serif;
}

*:not(.sitetitle){
    font-family: Shabnam, serif;
}

.backgroundimage{
    background-image:url('assets/img/tech/image4.jpg');
}