@model Exception

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">خطایی رخ داده است</h1>
<h2 class="text-danger">@Model.Message</h2>

@{
    Exception e = Model.InnerException;
    while (e != null)
    {
        <p>@e.Message</p>
        e = e.InnerException;
    }
}